@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

text {
  font-weight: 700 !important;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  background-color: #1e2140;
  padding: 3rem 0;
}

.options {
  max-width: 800px;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  box-shadow: rgba(#000, 0.3) 0px 0px 0px 3px;
  background-color: #151932;
  padding: 1rem;
  border-radius: 3px;
  transition: all 0.2s;

  @media screen and (min-width: 700px) {
    flex-direction: row;
  }

  .option {
    outline: none;
    border: none;
    width: 100%;
    padding: 1.25rem 7.5rem;
    font-size: 1.75rem;
    border-radius: 3px;
    font-weight: 500;
    color: rgba(#fff, 0.5);
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s;

    @media screen and (min-width: 700px) {
      padding: 3rem 5rem;

      &:hover {
        background-color: rgba(#fff, 0.1);
        color: #fff;
      }
    }
  }
}

.progress {
  position: relative;
  width: 30rem;
  height: 30rem;
  transition: all 0.2s;
}

.onOff {
  padding: 1rem 2rem;
  font-size: 3rem;
  border-radius: 3px;
  box-shadow: rgba(#151932, 0.3) 0px 0px 0px 3px;
  cursor: pointer;
  transition: all 0.2s;

  @media screen and (min-width: 700px) {
    &:hover {
      transform: scale(1.05);
    }
  }
}

.settings {
  position: absolute;
  bottom: 6rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3rem;
  cursor: pointer;
  transition: all 0.2s;
}

.model {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  transition: all 0.2s;

  .form {
    max-width: 550px;
    width: 100%;
    position: relative;
    background-color: #fff;
    padding: 3rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 3px;
    transition: all 0.2s;

    @media screen and (min-width: 700px) {
      padding: 3rem 2rem;
    }

    &__close {
      outline: none;
      border: none;
      position: absolute;
      top: 1rem;
      right: 1rem;
      font-size: 2rem;
      background-color: transparent;
      color: #e92a64;
      cursor: pointer;
      transition: all 0.2s;
    }

    &__box {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 2.5rem;
      transition: all 0.2s;
    }

    .labeledBox {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      transition: all 0.2s;
    }

    &__label {
      font-size: 1.75rem;
      color: #151932;
      transition: all 0.2s;
    }

    &__input {
      border: none;
      outline: none;
      background-color: #eef1fa;
      color: #151932;
      padding: 1.5rem 1rem;
      border-radius: 3px;
      font-size: 1.5rem;
      transition: all 0.2s;
    }

    .colors {
      width: 100%;
      display: grid;
      justify-content: center;
      align-items: center;
      grid-template-columns: repeat(4, max-content);
      gap: 1rem;
      transition: all 0.2s;
    }

    .color {
      width: 4rem;
      height: 4rem;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: all 0.2s;

      & i {
        font-size: 2.5rem;
        color: #fff;
        transition: all 0.2s;
      }
    }
  }
}
